.button {
  display: block;
  @include media($large-screen) {
    display: inline-block;
  }
  width: auto;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;

  &.button-primary {
    background: $blue;
    color: $white;
    cursor: pointer;
    transition: background-color 500ms ease;
    &:hover {
      background: $dark-blue;
    }
  }
}
